<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @paciente.idade %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @paciente.fone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
