    <%= form_for @consulta, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
        <div class="modal-body">
            <ul class="errors"></ul>

            <div class="control-group">
          <%= f.label :data, class:"control-label" %>
                <div class="controls">
                    <%= f.text_field :data, :class => 'datepicker' %>
                </div>
            </div>
            <div class="control-group">
          <%= f.label :hora, class: "control-label" %>
                <div class="controls">
                     <%= f.text_field :hora, :class => 'input-small bootstrap-timepicker' %>
                </div>
            </div>

      <div class="control-group">
            <%= f.label :medico_id, class: "control-label" %>
                <div class="controls">
                    <%= f.select(:medico_id, options_for_select(@medicos)) %>
                </div>
            </div>

      <div class="control-group">
            <%= f.label :paciente_id, class: "control-label" %>
                <div class="controls">
                    <%= f.select(:paciente_id, options_for_select(@pacientes)) %>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
    <% end %>

    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({ format: 'dd/mm/yyyy',
                                                   orientation: 'auto'
                                                });

        $('.bootstrap-timepicker').timepicker({ minuteStep: 5,
                                                           showInputs: false,
                                                           disableFocus: true
                                                        });

    });
    </script>
