    <%= form_for @consulta, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
        <div class="modal-body">
            <ul class="errors"></ul>

            <div class="control-group">
          <%= f.label :data, class:"control-label" %>
                <div class="controls">
          <%= f.date_select :data %>
                </div>
            </div>
            <div class="control-group">
          <%= f.label :hora, class: "control-label" %>
                <div class="controls">
          <%= f.time_select :hora %>
                </div>
            </div>

      <div class="control-group">
            <%= f.label :medico_id, class: "control-label" %>
                <div class="controls">
                    <%= f.select(:medico_id, options_for_select(@medicos)) %>
                </div>
            </div>

      <div class="control-group">
            <%= f.label :paciente_id, class: "control-label" %>
                <div class="controls">
                    <%= f.select(:paciente_id, options_for_select(@pacientes)) %>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <%= f.submit class: "btn btn-primary" %>
            <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        </div>
    <% end %>
