<% @consultas.each do |consulta| %>
      <tr>
        <td><%= consulta.data.strftime("%d/%m/%Y") %></td>
        <td><%= consulta.hora.strftime("%H:%M") %></td>
        <td><%= consulta.medico.nome %></td>
        <td><%= consulta.paciente.nome %></td>
        <td><%= link_to 'Editar', edit_consulta_path(consulta) , remote: true, class: "btn btn-info btn-small"%></td>
        <td><%= link_to 'Remover', consulta_delete_path(consulta), remote: true, class: "btn btn-danger btn-small" %></td>
      </tr>
    <% end %>
